.ContactItem {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .contact {
    display: flex;
    align-items: center;
    background: #4d4d4d;
    padding: 1rem 0;
    // .right-items {
    //   margin-left: 1rem;
    // }
    img {
      padding: 0.5rem;
      border: 1px solid #4d4d4d;
      margin-left: 1rem;
      width: 26%;

      @media screen and (max-width: 480px) {
        width: 40%;
      }
    }
    .right-items {
      font-family: "Tahoma", sans-serif;
      margin-left: 0.5rem;
      h6 {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
        padding-right: 1rem;

        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
.ContactPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 6rem;
  @media screen and (max-width: 1270px) {
    grid-template-columns: repeat(1, 1fr);
    .map-sect {
      width: 100%;
      height: 50vh;
      margin-bottom: 1rem;
    }
  }
  .contact-sect {
    width: 100%;
  }
}
.map-sect {
  width: 97%;
  padding: 1rem;
  background: #4d4d4d;
  iframe {
    width: 100%;
    height: 100%;
  }
}

.contact-sect {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  margin-bottom: 5rem;
}
